Hi,

We received a request to verify this email address ({{.To}}), but we were unable to find an account associated with this address.

If you use Macadam and were expecting this email, consider trying to request a verification link using the email address associated with your account.

If you do not use Macadam or did not request an email verification, please ignore this email or contact support if you have questions.

Thanks,
The Macadam Team
https://example.com
