Welcome{{if .To}}, {{.To}}{{end}}!

Thanks for trying Macadam. We’re thrilled to have you on board. To get the most out of Macadam, please verify your email address by visiting this URL in your web browser: {{ .VerificationURL }}

If you have any questions, feel free to email our customer success team using help@example.com. 

Thanks,
The Macadam Team
https://example.com
